"  JetBeans actions
nnoremap [g :action Back<cr>
nnoremap ]g :action Forward<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>
nnoremap [d :action GotoImplementation<cr>
nnoremap ]d :action GotoSuperMethod<cr>

"  Escape
inoremap jj <Esc>
inoremap kk <Esc>

"  Add some movement to insertmode
inoremap <M-k> <Up>
inoremap <M-j> <Down>
inoremap <M-l> <Right>
inoremap <M-h> <Left>

" Place terminators cause I'm a lazy bum
nnoremap <leader>; A;<Esc>
nnoremap <leader>, A,<Esc>

" unimpared
nnoremap [<space> :action EditorStartNewLineBefore<cr>
nnoremap ]<space> :action EditorStartNewLine<cr>
nnoremap [e :action MoveLineUp<cr>
nnoremap ]e :action MoveLineDown<cr>
nnoremap [b :action PreviousTab<cr>
nnoremap ]b :action NextTab<cr>
nnoremap [B :action GoToTab1<cr>
nnoremap ]B :action GoToLastTab<cr>

" Use IDE put
set clipboard+=ideaput

"  Don't beep, boop, but blink
set visualbell

"  Don't show row numbers, but the amount of rows away from current location
set relativenumber
"  ... except for 0, there show the current row number
set number

"  Make searching case insensitive if no capitals are used
set ignorecase smartcase

" Set minimum nr of lines above and below cursor
set scrolloff=2

" number of command-lines that are remembered, defaults to 20
set history=40

" Set max number of changes that can be undone, defaults to 1000
set undolevels=2000

" min number of horizontal columns around cursor
set sidescrolloff=10

" show where search pattern typed so far matches
" set incsearch

" Use jetbrains join instead of vim join
set ideajoin

" Upper case marks are project wide jetbrains bookmarks
set ideamarks

"  Enable surround plugin
set surround

" Enable commentary plugin
set commentary

" Enable replace with register (gr)
set ReplaceWithRegister

" Enable argument text object (use like cia or daa)
set argtextobj

